@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.cajas {
  margin: 5px 10px;
  padding: 5px 20px 0 0;
}

.titulo {
  text-align: center;
  padding: 10px;
}



.cuerpo img {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 2px;
  padding-right: 5px;
  float: left;
  border-radius: 24px;
}


