@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    background-color: ghostwhite;
    font-family: 'Rubik', sans-serif;
    
}

/*Inicio cabecera*/
.header {
    display: flex;
    background-color: #1A120B;
    /* flex-direction: row; */
}

.logotipo img{
    border-radius: 100px;
    width: 80px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 24px;
}

.lista ul {
    display: flex;
    list-style: none;

}

.lista ul li {
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 5px;
}

.lista ul li a {
    text-decoration: none;
    color: #D5CEA3;
}
/*Fin cabecera*/

/*Inicio slider*/
.slider {

}
/*Fin slider*/

/*Inicio cuerpo de la página*/
.inicio {

}

.titulo {

}

.informacion {

}

/*Fin cuerpo de la página*/

/*Inicio árbol de enlaces*/
.arbol {

}
/*Fin árbol de enlaces*/

/*Inicio footer*/
.footer {

}
/*FIn footer*/


