@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    background-color: ghostwhite;
    font-family: 'Rubik', sans-serif;
    
}

/*Inicio cabecera*/
.header {

}

.logotipo img{
    border-radius: 100px;
    width: 80px;
    margin: 8px;
}

.lista {

}
/*Fin cabecera*/

/*Inicio slider*/
.slider {

}
/*Fin slider*/

/*Inicio cuerpo de la página*/
.inicio {

}

.titulo {

}

.informacion {

}

/*Fin cuerpo de la página*/

/*Inicio árbol de enlaces*/
.arbol {

}
/*Fin árbol de enlaces*/

/*Inicio footer*/
.footer {

}
/*FIn footer*/


