@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  background-color: #E3EAF3;
  padding: 1vw;
}

body p {
  font-size: 2ex;
  line-height: 1.5;
}

.principal {
  background-image: url("../img/Fondo.jpeg");
  background-size: 100vw;
  background-repeat: no-repeat;
}

.presentacion {
  display: flex;
  color: white;
  padding: 2vw;
  }

.presentacion img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  padding: 2vw;
}

.presentacion .texto {
  padding: 2vw;
  text-shadow: 5px 5px 20px gray;
}

.menu {
  align-content: center;
  text-align: center;
}

.menu ul li {
  text-align: center;
  box-sizing: border-box;
  font-size: 1.9ex;
  list-style-type: none;
  display: inline;
  padding: 0.5vw 2vw;
  text-decoration: none;
}
.menu ul li a{
  text-decoration: none;
  color: white;
}
.menu ul li:hover{
  background-color: #5795EA;
  border-radius: 20vw;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
  cursor: pointer;
}


